.ChatMain

  .ChatMain__info
    .ChatMain__info__left
      .group__name
        =@group.name
      .group__members
        -if @group.name.present?
          member:
          - @group.group_users.each do |group_users|
            =group_users.user.name
    .ChatMain__info__edit
      = link_to edit_group_path(@group.id) do
        ="edit"

  .ChatMain__messages
    .ChatMain__messages__list
      - @messages.each do |message|
        .message__info
          .name
            =message.user.name
          .day
            =message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .message__text
          - if message.text.present?
            %p.lower-message__text
              = message.text
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

  .ChatMain__create
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :text, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'